
@font-face {
    font-family: 'jua';
    src: url(../font/BMJUA_ttf.ttf);
  }

#contents-create-section {
    max-width: 1080px;
}

#content-title {
    width: 60rem;
}

.ck.ck-editor {
    max-width: 1080px;
}
.ck-editor__editable {
    min-height: 300px;
}

#content-header-section {
    position:relative;
    background:url(../image/userimage.jpg);
    background-size:cover;
}

#content-header-section h1 {
    font-family: 'jua';
    color: white;
    font-size: 4rem;
}

#content-header-section p {
    color: white;
    font-size: 1.5rem;
}
#content-header-section::before{
    content:"";
    /* position:absolute; */
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}