
@font-face {
    font-family: 'jua';
    src: url(../font/BMJUA_ttf.ttf);
  }

#contents-create-section {
    max-width: 1080px;
}

#content-title {
    width: 60rem;
}

.ck.ck-editor {
    max-width: 1080px;
}
.ck-editor__editable {
    min-height: 300px;
}

#content-header-section::after {
    position:relative;
    background:linear-gradient(to right, rgba(250, 235, 215, 0.8), rgba(30, 67, 86, 0.6)), url("../image/userimage.jpg") center top no-repeat;
    background-size:cover;
}

#content-header-section::before {
	position: absolute;
  left: 50%;
  top: 0;
  width: 130%;
  height: 96%;
  /* background: lightcoral; */
  background: rgb(236, 182, 182);
  background: -webkit-linear-gradient(top left, rgb(241, 170, 170) 0%, #f13333 100%);
  background: linear-gradient(to bottom right, rgb(231, 172, 172) 0%, #fa3636 100%);
  opacity: 0.3;
  z-index: -10;
  border-radius: 0 0 50% 50%;
  transform: translateX(-20%) translateY(18px) rotate(2deg);
}

#content-header-section h1 {
    font-family: 'jua';
    color: black;
    font-size: 4rem;
}

#content-header-section p {
    color: white;
    font-size: 1.5rem;
}
#content-header-section::before{
    content:"";
    /* position:absolute; */
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}