body.home_body {
  height: 100vh;
  background-size: cover;
  
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30vh;
  position: relative;
}

.home-recommend-product {
  display: flex;
  justify-content: center;
  height: 20vh;
  width: 700px;
}

.square {
  position: relative;
  background-color: rgb(190, 156, 112);
}


.home_profile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
  position: relative;
}
