@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SuseongDotum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/SuseongDotum.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main {
  top : 0;
}

.main .font-bold {
  font-family: SuseongDotum;
  font-size: 3rem;
}

.main .font-description {
  font-family: LeferiPoint-WhiteObliqueA;
  font-size: 1.15rem;
}

.main .text-large {
  font-size: 1.6rem;

}
.main .text-medium {
  font-size: 1.2rem !important;
}

.main .text-small {
  font-size: 0.9rem !important;
}

.main #app {
  font-family: IBMPlexSansKR-Regular, InfinitySans-RegularA1, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000 !important;
}

.main .nav {
  padding: 1.2rem !important;
  background-color: transparent;
  z-index: 1;
}

.main .nav a {
  font-size: 1.2rem !important;
  color: #000000; 
  text-decoration: none !important;
}

.main.nav a:hover {
  color: #000000 !important;
}

.main.nav a.router-link-exact-active {
  color: #000000 !important;                     
}

.main .navbar-text,
.main .navbar-text a,
.main .nav-link {
  color: #000000;
}

.main.navbar-toggler {
  color: #000000 !important;
  border: none;
}

.navbar-toggler {
  margin-right: 10px;
}

.main.dropdown-menu[data-bs-popper] {
  right: 1;
}

.dropdown-menu {
  margin-left: 10px;
  width:30px;
}

.main a { 
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.main a:hover {
  color: #000000;
  text-decoration: underline;
}

.logo {
  max-height: 200px;
  max-width: 200px;
  margin-right: 1rem;
  margin-left: 2rem
}

.main.account {
  flex-direction: column;
}

.content {
  padding: 8px;
}
