@font-face {
  font-family: 'LeferiBaseType-RegularA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#cportfolio {
  box-shadow: 0 5px 5px 0 rgba(68, 88, 144, 0.14);
}
#producttitle {
  display:block;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.product_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
}

#title-div {
    background-color: white !important;
}
#product_select_article {
    background-color: #ffffff;
    margin-top: 2rem; margin-left: 1rem;
    max-height: 2140px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}

.search_filter{
    max-width: 992px;
    background-color: white;
    margin-top: 2rem; margin-left: 1rem; margin-bottom: 1rem;
    box-shadow: 1px 5px 10px rgb(0 0 0 / 10%);
    margin: auto;
    margin-top: 50px;
}


#deposit-result-view {
  margin-top: 20px; margin-bottom: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
}

#saving-result-view {
  margin-top: 20px; margin-bottom: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
}
.btn {
    text-decoration: none;
    margin: 3px;
    border-color: black;
}

.deposit {
  margin-top: 5px;
}

#banks_container {
  flex-wrap: wrap;
  display: flex;
  justify-self: start;
}

.product_section label {
  font-size: 12px;
}
/* 가져온 것 */

/* 필터정보 */

.filter_button_wrap {
  width: 100%;
}

.filter_button_wrap button {
  width: 50%;
}
.filter_button{
	border: 1px solid green;
	padding: 10px 24px;
  background-color: white;
	cursor: pointer;
	float: left;
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
} 
.filter_button_wrap:after {
    content: "";
    clear: both;
    display: table;
}  	
.filter_button_wrap button:not(:last-child) {
    border-right: none;
}
.filter_button:hover {
  background-color: #92ce95;
}
.filter_active{
  color: white;
	background-color: #3e8e41;
}

/* cart */

.cart-none {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.to_product {
  max-width: 80px;
}

#cart-item {
  width: 60%;
}


/* detail */

.product-detail-box {
  display: flex; justify-content: center;
}

.product-detail {
  width: 100%;
  border-radius: 5px;
}
.prd-btn-area {
  position:absolute 100% 100%;
}

#cart-product-table {
  width: 1080px
}

.fa-circle-info .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #92ce95;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  margin-left: 5px;
  font-size: 12px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  transition: opacity 1s;
}


.fa-circle-info:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* 반응형 테이블 */

td {
  padding: 15px 0px;
}

td img {
  width: 5rem;
}

.table {
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
  font-size: 15px;
  width:100%;
  border-collapse: collapse;
	vertical-align:middle;
}

.table th {
  background-color: #92ce95;
}

.table td, .table th {
  padding: 15px 0px;
  word-break:break-all;
  text-align: center;
}

@media screen and (max-width:991px) {
  /*block*/
  .table {
    box-shadow: none !important;
  }
  .table--block thead {
    display:none;
  }
  .table--block tr {
    display:flex;
    border-top:none;
    
    text-align: center; 
  }

  .table--block tbody {
    display: block;
    margin-top: 20px;
    box-shadow: none;
  }

  .table--block th, .table--block td {
    display:flex;
    position:relative;
    justify-content: center;
    padding-left:50%;
    border-width:0 0 1px 0;
  }

  .table--block td:before {
    display:block;
    position:absolute;
    left:0;
    top:20%;
    width:50%;
    padding:10px 0;
    
    text-align: center;
  }
  .table--block td:nth-child(1):before {content:'은행';}
  .table--block td:nth-child(2):before {content:'상품명';}
  .table--block td:nth-child(3):before {content:'금리';}
  .table--block td:nth-child(4):before {content:'기간(개월)';}
  .table--block td:nth-child(5):before {content:'비교 포트폴리오 추가';}
  .table--block td:nth-child(6):before {content:'내 포트폴리오 추가';}
  .table--block td:nth-child(7):before {content:'상품 삭제';}
}