
@font-face {
    font-family: 'jua';
    src: url(../font/BMJUA_ttf.ttf);
}

.product_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title-div {
    background-color: white !important;
}
#product_select_article {
    background-color: #ffffff;
    margin-top: 2rem; margin-left: 1rem;
    max-height: 2140px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}

.search_filter{
    max-width: 992px;
    background-color: white;
    margin-top: 2rem; margin-left: 1rem; margin-bottom: 1rem;
    box-shadow: 1px 5px 10px rgb(0 0 0 / 10%);
    margin: auto;
    margin-top: 50px;
}


#deposit-result-view {
  margin-top: 50px; margin-bottom: 30px;
  height: 50px;
  display: flex;
  justify-content: center;
}

#saving-result-view {
  margin-top: 20px; margin-bottom: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
}
.btn {
    text-decoration: none;
    margin: 3px;
    border-color: black;
}

.deposit {
  margin-top: 5px;
}
.select {
  padding: auto;
  padding: 20px;
}

.select h6 {
  margin-bottom: 10px;
}

/* 가져온 것 */

/* 필터정보 */

.filter_button_wrap {
  width: 100%;
}

.filter_button_wrap button {
  width: 50%;
}
.filter_button{
	background-color: #04AA6D;
	border: 1px solid green;
	color: white;
	padding: 10px 24px;
	cursor: pointer;
	float: left;
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
} 
.filter_button_wrap:after {
    content: "";
    clear: both;
    display: table;
}  	
.filter_button_wrap button:not(:last-child) {
    border-right: none;
}
.filter_button:hover {
  background-color: #3e8e41;
}
.filter_active{
	background-color: #045d3c;
}

/* cart */

.cart-none {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.to_product {
  max-width: 80px;
}

.cart-none img {
  width: 400px; height: 400px;
}